GEMINI_MODEL=gemini-3.1-flash-lite-preview
YOUTUBE_API_KEY=your_API
TAVILY_API_KEY=your_API 
GOOGLE_CLOUD_PROJECT=your-project-id
GOOGLE_CLOUD_REGION=global
GCS_BUCKET_NAME=your-gcs-bucket-name

# GOOGLE_CLOUD_REGION
# global : 가장 가까운 지역으로 연결해주는 옵션 -> 서울로 연결됨
# asia-northeast3 : 서울에 위치함 -> 응답 속도가 중요한 경우에 추천
# us-central1 : 미국 아이오와에 위치함 -> 최신 모델/기능을 모두 쓰고 싶을 때 추천 + 모델 지원 범위가 가장 넓다고 함